{#
/**
 * @file
 * Template for displaying tasklist.
 *
 * Available variables:
 */
#}

<div id="task-listing">
  <div class="tasks-wrapper">
    <h2>Tasklist</h2>
    <div class="tasks">
      {% for key, value in list %}
        <div class="cust-checkbox">
          <i class="material-icons">check_box_outline_blank</i>
          <div class="checkbox-label">{{ value }}</div>
          </div>
      {% endfor %}
      </div>
    <a class="task-action clear">Clear</a>
  </div>
  <div class="add-task">
    {{ form }}
  </div>
  <a class="task-action archive">View Archive</a>
</div>
